@model IEnumerable<ActiveLearning.DB.Course>
@using ActiveLearning.Business.Common;

@if (Model == null || Model.Count() == 0)
{
    <label for="Name" class="alert-danger">@Constants.ThereIsNoValueFound(Constants.Course)</label>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeleteDT)
            </th>
            <th>
               &nbsp;
            </th>
          
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateDT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeleteDT)
                </td>
                <td>
                    @Html.ActionLink("Detail", "CourseDetail", new { courseSid = item.Sid })
                    &nbsp; | &nbsp; @Html.ActionLink("Chat", "Chat", new { courseSid = item.Sid })
                    &nbsp; | &nbsp; @Html.ActionLink("Quiz", "Quiz", new { courseSid = item.Sid })
                </td>
    
            </tr>
        }

    </table>
}

