@model ActiveLearning.DB.QuizQuestion

@{
    ViewBag.Title = "Delete Quiz Question";
}

<h2>Delete Quiz Question</h2>

@Html.Partial("_MessageBoxPartial")

@if (Model != null)
{
    <h3 style="margin-top:100px">Confirm to delete ?</h3>
    <div>
        <h4>QuizQuestion</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreateDT)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreateDT)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UpdateDT)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UpdateDT)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-primary" /> |

            </div>
        }
    </div>
}
@Html.ActionLink("Back to List", "ManageQuiz", new { id = Model.CourseSid })