@model IEnumerable<ActiveLearning.DB.QuizQuestion>
@using ActiveLearning.Business.Common;

@{
    ViewBag.Title = "Manage Quiz";
}

<h2>Manage Quiz</h2>

@Html.Partial("_MessageBoxPartial")

<p>
    @Html.ActionLink("Create Quiz Question", "CreateQuizQuestion")
</p>

@if (Model != null && Model.Count() > 0)
{
    <table class="table" style="margin-top:100px">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDT)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateDT)
                </td>

                <td>
                    @Html.ActionLink("Edit", "EditQuizQuestion", new { quizQuestionSid = item.Sid }) |
                    @*@Html.ActionLink("Details", "Details", new { id=item.Sid }) |*@
                    @Html.ActionLink("Delete", "DeleteQuizQuestion", new { quizQuestionSid = item.Sid })
                </td>
            </tr>
        }
    </table>
}