@model ActiveLearning.DB.Course

@{
    ViewBag.Title = "CreateCourse";
}

<h2>Create Course</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @if (ViewBag.Message != null)
        {
            <div class="success alert-success">
                <strong>@ViewBag.Message</strong>
            </div>
        }
        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger">
                <strong>@ViewBag.Error</strong>
            </div>
        }
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CourseName, htmlAttributes: new { @class = "control-label col-md-2", autocomplete = "off" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CourseName, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.CourseName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "ManageCourse")
</div>
