@model ActiveLearning.DB.Instructor

@{
    ViewBag.Title = "Delete Instructor";
}

<h2>Delete Instructor</h2>

@Html.Partial("_MessageBoxPartial")

@if (Model != null)
{
    <h3 style="margin-top:100px">Confirm to delete ?</h3>
    <div>
        <h4>Instructor</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Qualification)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Qualification)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.User.Username)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.Username)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
            </div>
        }
    </div>
}
@Html.ActionLink("Back to List", "ManageInstructor")