@model IEnumerable<ActiveLearning.DB.Student>


@{
    ViewBag.Title = "ManageStudent";
}

<h2>Manage Student</h2>

<p>
    @Html.ActionLink("Create New Student", "CreateStudent")
</p>

<table class="table">


    @if (Model == null)
    {
        <div>There is no record here.</div>
    }
    else
    {

        <tr>

            <th>
                @Html.DisplayNameFor(model => model.User.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.FullName)
            </th>
            <th>
                @Html.Label("IsActivated")
            </th>
            <th></th>
        </tr>

        foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.User.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.IsActive)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditStudent", new { id = item.Sid }) |
                    @Html.ActionLink("Details", "StudentDetails", new { id = item.Sid }) |
                    @Html.ActionLink("Delete", "DeleteStudent", new { id = item.Sid })|
                    @Html.ActionLink(item.User.IsActive ? "Deactivate" : "Activate", item.User.IsActive ? "DeactivateStudent" : "ActivateStudent", new { id = item.Sid }, new { onclick = "SetTextBoxValue('mydata')" }) |
                    @Html.ActionLink("Enrol Student", "ManageEnrolment", new { id = item.Sid })|

                </td>
            </tr>
        }

    }


</table>
