@model IEnumerable<ActiveLearning.DB.Student>
@using ActiveLearning.DB;

@{
    ViewBag.Title = "ManageEnrolment";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#checkBoxAll').click(function () {
            if ($(this).is(":checked"))
                $('.checkbox').prop('checked', true);
            else
                $('.checkbox').prop('checked', false);
        });
    });
</script>


<h2>Manage Course Enrolment</h2>

<p>
    @Html.ActionLink("Update", "UpdateEnrolment", "Admin")
</p>
@using (Html.BeginForm("UpdateEnrolment", "Admin", FormMethod.Post))
{
    <input type="submit" value="Update" onclick="return Confirm('Are you sure?')"/>
    <table class="table">
        <tr>
            <th>
                <input type="checkbox" id="checkBoxAll" />
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BatchNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Username)
            </th>


            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                    @*@{if (TempData.Peek("CheckedStudent") != null)
                        {
                            var checkedStu = TempData.Peek("CheckedStudent")as List<int>;
                            //if (item.UserSid.Equals(checkedStu[0]))
                            if(checkedStu.Contains(item.UserSid))
                            {
                                <input type="checkbox" class="checkbox" value="@item.UserSid" name="studentId" checked />
                            }
                            else
                            {
                                <input type="checkbox" class="checkbox" value="@item.UserSid" name="studentId" />
                            }

                        }
                    }*@
                <td>
                    @Html.CheckBoxFor(modelItem => item.HasEnrolled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BatchNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Username)
                </td>


                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Sid }) 
                </td>
            </tr>
                        }

    </table>
                        }
