@model IEnumerable<ActiveLearning.DB.Course>
@using ActiveLearning.Business.Common;

@{
    ViewBag.Title = "ManageCourse";
}

<h2>Manage Course</h2>

@if (ViewBag.Message != null)
{
    <div class="alert alert-success text-center">
        <strong>@ViewBag.Message</strong>
    </div>
}
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger text-center">
        <strong>@ViewBag.Error</strong>
    </div>
}

<p>
    @Html.ActionLink("Create New Course", "CreateCourse")
</p>

@if (Model == null || Model.Count() == 0)
{
    <div class="alert alert-info text-center">
        <strong>@Constants.ThereIsNoValueFound(Constants.Course)</strong>
    </div>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDT)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateDT)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditCourse", new { id = item.Sid }) |
                    @Html.ActionLink("Delete", "DeleteCourse", new { id = item.Sid }) |
                    @Html.ActionLink("Manage Student", "ManageStudentEnrolment", new { id = item.Sid })

                </td>
            </tr>
        }
    </table>
}